# What are the top 3 fields of study that yielded the highest median employment income 2 years after graduation in each year the study was conducted?

**Introduction:** Median employment income of graduates 2 years after graduation in Canada varies across the different fields of study. The purpose of this analysis was to identify the top 3 fields of study that yielded the highest median employement income 2 years after graduation.

## Import Data

In [0]:
import pandas as pd

In [0]:
data = pd.read_csv("graduate_income.csv")

In [0]:
data.head()

   REF_DATE     GEO       DGUID  ... SYMBOL TERMINATED DECIMALS
0      2010  Canada  2016A11124  ...    NaN        NaN        0
1      2010  Canada  2016A11124  ...    NaN        NaN        0
2      2010  Canada  2016A11124  ...    NaN        NaN        0
3      2010  Canada  2016A11124  ...    NaN        NaN        0
4      2010  Canada  2016A11124  ...    NaN        NaN        0

[5 rows x 21 columns]

## Filter Data

In [0]:
#How many years of data are there? 
print(data['REF_DATE'].unique())

[2010 2011 2012 2013 2014 2015]

In [0]:
#Filter for the relevant data and rename columns of interest
data_filtered =  data[(data['GEO']=='Canada') &
                      (data['Field of study'] != "Total, field of study") &
                      (data['Gender']== "Total, gender")&
                      (data['Age group']=="15 to 64 years")&
                      (data['Status of student in Canada']=="Canadian and international students") &
                      (data['Characteristics after graduation']=="Graduates reporting employment income")&
                      (data['UOM'] =="2017 constant dollars")]

data_filtered.rename(columns = {'REF_DATE':'Year', 'VALUE':'Median Employment Income'}, inplace = True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [0]:
data_filtered.head()

      Year     GEO       DGUID  ... SYMBOL TERMINATED DECIMALS
5389  2010  Canada  2016A11124  ...    NaN        NaN        0
5505  2010  Canada  2016A11124  ...    NaN        NaN        0
5621  2010  Canada  2016A11124  ...    NaN        NaN        0
5747  2010  Canada  2016A11124  ...    NaN        NaN        0
5871  2010  Canada  2016A11124  ...    NaN        NaN        0

[5 rows x 21 columns]

In [0]:
#Divide the dataset into the different years in which data was collected (2010, 2011, 2012, 2013, 2014, 2015)

data2010 = data_filtered[(data['REF_DATE']==2010)]
               
data2011 = data_filtered[(data['REF_DATE']==2011)]

data2012 = data_filtered[(data['REF_DATE']==2012)]

data2013 = data_filtered[(data['REF_DATE']==2013)]

data2014 = data_filtered[(data['REF_DATE']==2014)]

data2015 = data_filtered[(data['REF_DATE']==2015)]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if sys.path[0] == '':

### 2010 Top 3 Fields of Study That Yielded Highest Income

In [0]:
#To find the top 3 fields that yielded the highest median employment income, order median employment income in descending order
#Then select only the first 3 rows, which represent the 3 highest median employment income in that year
#Only columns of interest were extracted

data2010_descending = data2010[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False)   
data2010_descending.head(n=3)

       Year  ... Median Employment Income
48855  2010  ...                 198200.0
48975  2010  ...                 198200.0
66432  2010  ...                 114000.0

[3 rows x 3 columns]

### 2011 Top 3 Fields of Study That Yielded Highest Income

In [0]:
data2011_descending = data2011[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False)   
data2011_descending.head(n=3)

        Year  ... Median Employment Income
391392  2011  ...                 193600.0
391268  2011  ...                 193600.0
408998  2011  ...                 104300.0

[3 rows x 3 columns]

### 2012 Top 3 Fields of Study That Yielded Highest Income

In [0]:
data2012_descending = data2012[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False)   
data2012_descending.head(n=3)

        Year  ... Median Employment Income
752584  2012  ...                 164500.0
752707  2012  ...                 164500.0
770017  2012  ...                 103200.0

[3 rows x 3 columns]

### 2013 Top 3 Fields of Study That Yielded Highest Income

In [0]:
data2013_descending = data2013[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False)
data2013_descending.head(n=3)

         Year  ... Median Employment Income
1123808  2013  ...                 146600.0
1123686  2013  ...                 146600.0
1130490  2013  ...                 109300.0

[3 rows x 3 columns]

### 2014 Top 3 Fields of Study That Yielded Highest Income

In [0]:
data2014_descending = data2014[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False)   
data2014_descending.head(n=3)

         Year  ... Median Employment Income
1495901  2014  ...                 145900.0
1496027  2014  ...                 145900.0
1513439  2014  ...                 103800.0

[3 rows x 3 columns]

### 2015 Top 3 Fields of Study That Yielded Highest Income

In [0]:
data2015_descending = data2015[['Year','Field of study','Median Employment Income']].sort_values('Median Employment Income', ascending=False) 
data2015_descending.head(n=3)

         Year  ... Median Employment Income
1871136  2015  ...                 139500.0
1871010  2015  ...                 139500.0
1856053  2015  ...                 105800.0

[3 rows x 3 columns]

**Conclusion:**
Although **"Health and releated fields"**, and **"Dental, medical, and veterinary residency programs"** tied for being the field of study that yielded the highest median employment income 2 years after graudation in Canada in all the years in which this study was done, **"Health and related fields"**, **"Dental, Medical and veterinary residency programs"**, and **"Business, management, marketing and related support services"** were consistently the top 3 fields of study that yielded the highest median empyloemtn income in all years of this study.